.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}

.card {
  border: 1px solid darkslateblue;
  border-radius: 12px;
  padding: 1rem;
  background: rgb(227, 221, 232);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  width: 250px;
}

.card:hover {
  transform: translateY(-4px);
  background-color: #dfd3e8;
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card p {
  margin: 4px 0;
  font-size: 0.9rem;
}

.rating {
  font-weight: bold;
}
